---
layout: default
title: Home
---

<div class="row">
	{% for post in paginator.posts %}
        <div class="col s12 m6">
          <div class="card brown darken-1">
            <div class="card-content white-text">
              <h3>Latest Post</h3>
              <span class="card-title">{{post.title}}</span>
              {{ post.date | date_to_string }}
		<p>{{post.excerpt}}</p>
            </div>
            <div class="card-action">
              <a href="{{post.url}}">{{post.title}}</a>
            </div>
          </div><!--end latest post card-->
					</div>
					{% endfor %}
					<div class="col s12 m6 l5">
						<h3>Previous posts</h3>
						<ul class="collection">
						{% for post in site.posts limit:2 %}
								<li class="collection-item">
									<p>{{ post.date | date_to_string }}<br>
										<a href="{{post.url}}"><span class="title">{{post.title}}</span></a>
									</p>
								</li>
						{% endfor %}
							</ul>
					</div><!--end collections-->
</div><!--end row-->

<div class="row">

	<div class="col s12 m6 l5">
		<div class="col s12 m4 l6">
      <div class="card teal">
        <div class="card-content white-text">
          <img src="https://pbs.twimg.com/profile_images/606550146797559809/GOt2HB2T.jpg" class="circle responsive-img" height="100" width="100">
          <h5>A <a href="/about/" class="orange-text">Web developer</a> with a focus unlike any other.</h5>
        </div>
        <div class="card-action">
          <a href="https://www.github.com/eduardo-robles">Github</a>
          <a href="http://about.me/eduardorobles">View my AboutMe Page</a>
        </div>
      </div><!--end profile -->
    </div>
	  <h3>Some of my repositories</h3>
	    <ul class="collapsible" data-collapsible="accordion">
	    <li>
	      <div class="collapsible-header">dbPHP</div>
	      <div class="collapsible-body"><p><a href="https://github.com/eduardo-robles/dbPHP">This is a working prototype of the Employee Phone database for CSCI 6333.</a></p></div>
	    </li>
	    <li>
	      <div class="collapsible-header">LibroBox-Design-2.0</div>
	      <div class="collapsible-body"><p><a href="https://github.com/eduardo-robles/Librobox-Design-2.0">LibroBox Landing Page design 2.0.</a></p></div>
	    </li>
	    <li>
	      <div class="collapsible-header">Live Linux USB Creation</div>
	      <div class="collapsible-body"><p><a href="https://github.com/eduardo-robles/LiveLinuxUSB">A quick how to on creating a Live Linux USB via the command-line in Linux</a></p></div>
	    </li>
	  </ul>
	</div><!--end repo show~off-->
</div><!--end row-->
