<!DOCTYPE html>
<html lang="en">
{% include head.html%}
<body class="blue-grey lighten-5">
  <nav class="grey lighten-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Project and Future</a>
      <ul class="right hide-on-med-and-down white-text">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
         <li><a href="/connect/">Connect</a></li>
         <li><a href="/archive/">Archive</a></li>
      </ul>
       <ul id="nav-mobile" class="side-nav">
         <li><a href="/">Home</a></li>
         <li><a href="/about/">About</a></li>
         <li><a href="/connect/">Connect</a></li>
         <li><a href="/archive/">Archive</a></li>
      </ul>
      <a href="{{page[1]}}" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

 <div class="container">
      <div class="row">
        <div class="col s12 center">
  		{{content}}
        </div>
      </div>
      </div><!--content section-->
  <footer>
    <!--<div class="footer-copyright">
      <div class="container">
        <div class="row">
      <p>A blog by: Eduardo Robles
      Made with: <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </p>
      </div>
    </div>
  </div>-->
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}public/js/materialize.js"></script>
  <script src="{{ site.baseurl }}public/js/init.js"></script>

  </body>
</html>
