<!DOCTYPE html>
<html lang="en">
{% include head.html%}

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one columns"></div>
        <div class="ten columns"><span id="hero-title"><h1>Eduardo Robles</h1></span><span id="hero-title"><h4>Web and Technology Consulting</h4></span><p id="headline-text">Let me steer your ideas into products</p></div>
        <div class="one columns"></div>
      </div>
    </div>
  </div>

<div class="section context">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
      <h3>Welcome</h3>
      <p style="text-align:center;">As a freelance web developer I can help you understand how to best represent your prouducts on your website. <br>Contact me today so we can discuss how we can improve your website.</p></div>
    </div>
  </div>
</div>

<div class="section context-about">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h3>Contact</h3>
      </div>
      <div class="eight columns">
        <p>Email: <a href="mailto:eduardo@eduardorobles.com">eduardo[at]eduardorobles[dot]com</a></p>
        <p>Phone + WhatsApp: 956-314-0041</p>
        <p>Telegram App: <a href="https://telegram.me/eduardorobles">@eduardorobles</a></p>
        <p>Review my code: <a href="https://github.com/eduardo-robles">Github</a></p>
        <p>Connect with me on Twitter <a href="http://twitter.com/hardrived">@hardrived</a></p>
        <p>View my videos on <a href="https://www.youtube.com/playlist?list=PLHH_NmjqzR3vgxOkrjn5Z5TMsEHz1DDhk">Youtube</a></p>
      </div>
    </div>
  </div>
</div>

<div class="section context">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h3>Portfolio</h3>
      </div>
        {% for portofolio in site.data.portfolio_list %}
          <div>
            <a href="{{ portfolio.url }}">
              <img src="{{ portfolio.image_path }}" alt="{{ portfolio.title }}">
              <div>
                <div>
                  <div>
                    {{ portfolio.title }}
                  </div>
                  <div>
                    {{ portfolio.title }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!--  HELPER
<div class="section">
  <div class="container">
    <div class="row">
      <div class="one columns">ONE</div>
      <div class="ten columns">TWELVE</div>
    </div>
  </div>
</div>-->
<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <p>Eduardo Robles Web and Technology Consulting</p>
        <p>Email: <a href="mailto:eduardo@eduardorobles.com">eduardo@eduardorobles.com</a><br>
          Phone + WhatsApp: 956-314-0041<br>
          Telegram: <a href="https://telegram.me/eduardorobles">@eduardorobles</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
