<!DOCTYPE html>
<html lang="en">
{% include head.html%}

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one columns"></div>
        <div class="ten columns"><span id="hero-title"><h1>Eduardo Robles</h1></span><span id="hero-title"><h4>Web and Technology Consulting</h4></span></div>
        <div class="one columns"></div>
      </div>
    </div>
  </div>

<div class="section nav">
  <div class="container">
    <div class="row">
        <div class="one-third column"><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Tree_1010946.svg" height="50px"/></a><!--IMAGE CREDIT: By Nevit Dilmen (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 4.0-3.0-2.5-2.0-1.0 (http://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)], via Wikimedia Commons --></div>
        <div class="two-thirds column"><span id="tabs-text"></div></div>
    </div>
  </div>
</div>

<div class="section headline">
  <div class="container">
    <div class="row">
      <div class="twelve columns"><span id="headline-text">Let me steer your ideas into products</span></div>
      <!--<div class="one columns"></div>
      <div class="ten columns"></div>
      <div class="one columns"></div>-->
    </div>
  </div>
</div>

<div class="section tabs">
  <div class="container">
    <div class="row">
      <div class="one-third column"><span id="tabs-text"><a href="contact">Contact</a></span></div>
      <div class="one-third column"><span id="tabs-text"><a href="/archive">Blog</a></span></div>
      <div class="one-third column"><span id="tabs-text"><a href="portfolio">Portfolio</a></span></div>
    </div>
  </div>
</div>

<div class="section context">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
      <h3>Welcome</h3>
      <p>As a freelance web developer I can help you understand how to best represent your prouducts on your website. Contact me today so we can discuss how we can improve your website.</p>

      <p>Or feel free to read my blog where I give tips and tricks on various topics such as programming and methodology.</p></div>
    </div>
  </div>
</div>

<div class="section headline">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h3><a href="#contact">Contact</a></h3>
      </div>
      <div class="eight columns">
        <p>ONE</p>
        <p>TWO</p>
      </div>
    </div>
  </div>
</div>

<div class="section headline">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h3>Blog</h3>
      </div>
      <div class="eight columns">
            <ul>
              {% for post in site.posts %}
               <li>
                  <a href="{{ post.url }}" id="headline-text">{{post.title }}</a>
                   {{ post.excerpt }}
               </li> {% endfor %}
            </ul>
      </div>
    </div>
  </div>
</div>

<div class="section context-about">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h3><a href="#portfolio">Portfolio</a></h3>
      </div>
      <div class="eight columns">
        <p>ONE</p>
        <p>TWO</p>
      </div>
    </div>
  </div>
</div>

<!--  HELPER
<div class="section">
  <div class="container">
    <div class="row">
      <div class="one columns">ONE</div>
      <div class="ten columns">TWELVE</div>
    </div>
  </div>
</div>-->
<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <p>Eduardo Robles Web and Technology Consulting</p>
        <p>Email: <a href="mailto:eduardo@eduardorobles.com">eduardo@eduardorobles.com</a><br>
          Phone + WhatsApp: 956-314-0041<br>
          Telegram: <a href="https://telegram.me/eduardorobles">@eduardorobles</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
